[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"

[packages]
pyspark = "*"
pyspark-stubs = "*"
kafka = "*"
click = "*"

[requires]
python_version = "3.6"
